
	body{
		padding:0; margin:0;
		font-family:sans-serif; line-height:125%;
	}
	#main-wrapper{

	}
	#page-wrapper{
		height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
	}
	#page-wrapper.open{
    width: calc(70%);
	}
	#main-wrapper.resize #page-wrapper.open{
		width: calc(30%);
	}

	#page-wrapper.open .atom-body > div{
    display:none;
	}
	#header{
		display:flex;
		align-items:center;
		color:#ff4f4f;
		background: #f7f5f5;
	  padding: 10px;
		margin-bottom: 20px;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index:100;
	}
	#header .logo{
		display:flex;
		align-items:center;
		color: #333;
		font-weight: 700;
		flex:1;
	}
	#header .columns{
		margin: 5px;
    padding: 2px;
    background: #fff;
		border-radius: 3px;
		cursor:pointer;
		display:none;
	}
	#header .columns.active{
		display:block
	}
	
	#main-menu {
		margin-bottom: 20px;
		border-bottom: 3px solid #333;
		padding-bottom: 20px;
		position: sticky;
    top: 20px;
	}
	   
	#main-menu a{
		color:#ff4f4f;
		margin-left:10px;	
		margin-right:10px;	
		line-height: 2em;
	}
	#main-menu a.active{
		border-bottom: 3px solid #ff4f4f;
	}
	
	
	.hamburger{
		display:block;
		padding:5px;
		background-color: #ff4f4f;
		border-radius: 3px;
		cursor:pointer;
	}
	.menu-ico.active .hamburger{
		display:none;
	}
	.hamburger-back{
		padding:5px;
		background-color: #ff4f4f;
		border-radius: 3px;
		cursor:pointer;
		display:none;
	}
	.menu-ico.active .hamburger-back{
		display:block;
	}
	.hamburger > *{
		background-repeat: no-repeat;
    background-size: contain;
		width:20px;
		height:17px;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////5ubmueBsSwAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=);
	}
	    
	#logo{
		width:100px;
		margin-right:20px;
	}
	#body-wrapper{
		display:flex
	}
	#body-wrapper.shade{
		transition: opacity .25s ease-in-out, filter .25s ease-in-out;
		opacity:0.25;
		filter: blur(1.25px);
	}
	#sidebar{
		margin-right:1em;
	}
	#sidebar nav{
		font-size: 14px;
    margin-left: 3px;
	} 
	#body-content{
		flex:1
	}
	#body-content a{
		color:#30679e;
		transition: border .25s ease-in-out, text-decoration-color .3s ease-in-out;
		border-bottom:4px solid #30679e00;
		text-decoration-color: #30679e;
	}
	#body-content a:hover{
		color:#30679e;
		text-decoration-color: #30679e00;
		border-bottom:2px solid #30679e;
	}
	
	#body section{
		margin-top:40px;
	}
	#body .doc-body-title {
		text-transform: capitalize;
		font-size: 36px;
		line-height: initial;
		padding: initial;
	}
	hr{
		border-width: 0px;
    border-bottom: 1px solid #222;
	}

	#css-submenu{
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom: 1px solid #000;
	}
	#css-submenu ul{
		 display:flex; 
		 flex-wrap: wrap;
	}
	#css-submenu li{
 		display: flex;
		align-items: center;
		padding-right:10px;
	}
	   

	ul{
		list-style:none;
		margin:0;
		padding:0;
	}
	ul li{
		border: 1px solid #fff;
		display:flex;
		align-items: center;
	}
	ul li a{
		line-height: 1em;
		padding: 1em 10px;
		color: #636060;
		display: block;
		
	}
	ul li a:hover{
		background-color:#ddd;
	}
	ul li.active{
		display: flex;
    background: #ff4f4f15;
    border-radius: 5px;
	}
	ul li.active a:hover{
		background-color:#ffffff00;
		cursor:initial;
	}
	.atom-name{
		background: #eee;
		display: inline;
		padding: 1em;
		line-height: 3em;
	}
	.atom-body{
		display:flex;
		margin-top:40px;
		margin-bottom:100px;
		
	}
	.atom-body > *{
		flex:1;
	}
	.pseudo{
		font-size: small;
    	color: #ff4f4f;
	}
	.modifiers{
		border: 4px solid #ff4f4f;
	    padding: 0.5em 1em;
	    background-color: #ffffff;
	    border-radius: 5px;
	    font-size: larger;
	}
	.col--black{
		color:#000;
	}
	 .markup{
	 	font-size: 15px;
	 	line-height: 1.6;
		max-width: 100%;
		overflow: auto;
		padding: 1em;
		display: block;
	 }   
	pre {
		background: #f4f4f4;
		border: 1px solid #ddd;
		border-left: 3px solid #ff4f4f;
		color: #666;
		page-break-inside: avoid;
		font-family: monospace;
		font-size: 15px;
		line-height: 1.6;
		max-width: 100%;
		overflow: auto;
		padding: 1em 1.5em;
		display: block;
		word-wrap: break-word;
		font-weight: 400;
		margin-right:5px;
	}

	.doc-color-markers > * {
		display: block;
    width: 7vw;
    height: 5vw;
    padding: 2px;
    border: 2px solid #fff;
    outline: 1px solid #adadad;
	}
	.doc-empty-container{
		border:2px solid #ccc;
	}
	.doc-filled-container{
		border:2px solid #ccc;
		background-color: #eee;
		padding:10px;
	}
	.doc-table{
		width:100%;
		margin-top:40px;
		border-collapse: collapse; 
	}
	.doc-table th{
		text-align: left;
		border-bottom:1px solid #ccc;
	}
	.doc-table td{
		padding:5px;
		border:0;
		border-bottom:1px solid #333;
		display:flex;
		justify-content: space-between;
	}
	.doc-table td .link{
		flex:1;
	}
	#work-terminal{
	  background: #f0f0f0;
    min-height: 10%;
    font-family: courier;
    font-size: 12px;
    color: #08455f;
		padding: 10px;
		overflow-y: scroll;
		flex:0;
	}
	#work-wrapper{
		display:none;
	}
	#work-wrapper-body{
		overflow-y: scroll;
		flex:1;
	}
	#work-wrapper-body.hidden{
		opacity:0.2;
	}
	#work-wrapper-header{	
		background-color: #f7f5f5;
		border-bottom:1px solid #333;
    min-height: 42px;
    align-items: center;
    padding: 15px 20px;
    color: #636060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
	}
	#work-project{
    font-size: 18px;
    display: flex;
    border-radius: 3px;
    padding: 0 10px;
    align-items: center;
    color: #333333;
    line-height: 200%;
    border: 2px solid #333;
	}
	#project-name{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #333;
    
	}
	#work-description{
		font-size: 26px;
    line-height: 1.3em;
	}
	#work-wrapper.open{
		display: flex;
		flex-direction: column;
		height: 100%;
    position: fixed;
    width: 30%;
		right:0
	}
	#main-wrapper.resize #work-wrapper.open{
		width: calc(70%);
	}
	#main-wrapper.resize #body{
		display:none;
	}
	#main-wrapper.resize #body-bar{
		height:100%;
		padding:0 10px;
		border-left:1px solid #eee;
	}
	#main-wrapper.resize #css-submenu{
		border:0;
	
		min-height:100%;
	}
	#main-wrapper.resize #css-submenu ul{
		flex-direction: column;
	}
	#work-wrapper .doc-table{
		min-width:200px;
		font-size:14px;
		margin:0;
	}
	#work-wrapper .doc-table td{
		white-space: nowrap;
	}
	#work-wrapper .doc-table td:first-of-type{
		padding-left:20px;
		color:#777;
	}
	#work-wrapper .doc-table td:last-of-type{
		padding-right:20px;
	}

	.work-body p{
		padding:20px 20px 5px;
		margin:0;
		font-size:14px;
		
	}
	.work-body button{
		margin:0 1px;
		padding:2px 5px;
		border-radius: 2px;
		border-bottom: 2px solid #803636b0;	
		cursor:pointer;
		text-decoration: none;
		
	}

	.work-body tr:hover{
		background-color: #f7f5f5;	  
	}
	.option-item{
		display: flex;
    padding: 0 20px 20px;
    border-bottom: 1px solid #ccc;
	}
	input[type=text]{
		width:100%;
		padding:10px;
			border:1px solid #ff4f4f;
	}
	button{
		border:1px solid #ff4f4f;
		background-color: #ff4f4f9e;
		color:#fff;
	}
	button:hover{

		background-color: #ff4f4f;

	}
	input[type=checkbox]{
		-moz-appearance:none;
		-webkit-appearance:none;
		-o-appearance:none;
		border:1px solid #ff4f4f;
		width:20px;
		height:20px;
		padding:1px;
		cursor:pointer;
	}
	input[type=checkbox]:checked  {
  	color: #ff4f4f;
		font-style: normal;
		background-color:#ff4f4f;
		box-shadow: inset 0 0 0 2px #fff;
	} 
	input[type=radio]{
		-moz-appearance:none;
		-webkit-appearance:none;
		-o-appearance:none;
		border:1px solid #ff4f4f;
		width:20px;
		height:20px;
		padding:1px;
		cursor:pointer;
	}
	input[type=radio]:checked  {
  	color: #ff4f4f;
		font-style: normal;
		background-color:#ff4f4f;
		box-shadow: inset 0 0 0 2px #fff;
	} 
	.link{
		color: #ff4f4f;
		line-height:400%;
		display:flex;
		align-items: center;
		justify-content: space-between;
	}
	.link span{
		flex:1;
	}
	.menu_item{
		display:flex;
		align-items: center;
	}
	hr{
		border: 0;
		border-top: 1px solid #ccc;
	}
	#popup{
		display:none;
		position:fixed;
		background-color: #ffffffcc;
		width:100%;
		height:100%;
	}
	#popup.open{
		display:block;
	}
	#popup .popup_bar{
		position:fixed;
		display:flex;
		width:60px;
		top:5%;
		left:20%;
	}
	#popup button{
		border: 3px solid black;
    margin: 2px;
    background: #fff;
		padding: 10px;
			box-shadow: 2px 2px 0 #afafaf7d;
	}
	#popup button:hover{
		border: 3px solid #555;
		box-shadow: 4px 4px 0 #afafaf5d;
		outline: 1px solid #777;
		cursor:pointer;
	}
	#container{
		position:fixed;
		width:60%;
		height:75%;
		left:20%;
		top:15%;
		border:3px solid #000;
		background: #fff;
		box-shadow: 5px 5px 0 #afafaf7d;
	}
	.doc-ico{
		stroke-width: 1;
		margin-right:5px;
		margin-top:-2px;
		margin-left:-2px;   
	}
	.round{
		border: 2px solid #30679e;
    border-radius: 15px;
	}

#preview{
  animation: fadein .8s;
}
#preview.hide{
  background-color: #00000088;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}


.home-content{
	color: #333;
	display:flex;
	justify-content: space-between;
	
	
}
.home-content h1{
	font-weight: 400;
	font-size: 40px;
	    line-height: 1em;
}
.home-column1{
	flex:1;
}
.home-column2{
	margin-left: 40px;
	position: sticky;
    align-self: flex-start;
    top: 100px;
} 
.home-column2 .arrow-up{
	margin-top:-25px;
}
.home-column2 > div:first-of-type{
    background-color: #f7f5f5;
    padding: 40px;
    min-width: 300px;
		border-radius: 10px;
		
}
.home-icons{
	display: flex;
}
.home-icons > div{
	text-align: center; 
	margin: 10px;
	padding:40px 10px;
	flex:1;
	background: #fbf2f2;

}
.home-icons > div p{
		font-size:14px;
}

#work-wrapper-msg{
	
}
#work-wrapper-msg p{
	margin:0;
	padding:10px 20px;
	font-size: 13px;
	background: #30679e;
	color: #fff;
	border-top: 2px solid #333;
}


/** 
   progress
*/
#work-progress{
  position:relative;
  width:100%;
  height:5px;
	overflow-x: hidden;
	display:none;
}
#work-progress.active{
	display:block;
}
.line{
  position:absolute;
  background:#ff4f4f;
  width:150%;
  height:5px;
}

.subline{
  position:absolute;
  background:#30679e;
  height:5px; 
}
.inc{
animation: increase 2s infinite;
}
.dec{
animation: decrease 2s 0.5s infinite;
}


@keyframes increase {
 from { left: -5%; width: 5%; }
 to { left: 130%; width: 100%;}
}
@keyframes decrease {
 from { left: -80%; width: 80%; }
 to { left: 110%; width: 10%;}
}
/** 
   !progress
*/
